@model IEnumerable<WebApplication1.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MovieId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AuthorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GenreId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.MovieId /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
